jetty_version=9.4.12.v20180830
passport_rp_client_jks_pass=secret
install_dir=/install/community-edition-setup
ldapDsJavaPropCommand=/opt/opendj/bin/dsjavaproperties
ldif_attributes=/install/community-edition-setup/output/attributes.ldif
ldap_user_home=/home/ldap
accessLogConfFile=/install/community-edition-setup/static/openldap/accesslog.conf
setup_properties_fn=/install/community-edition-setup/setup.properties
apache2_ssl_conf=/install/community-edition-setup/output/https_gluu.conf
httpdCertFn=/etc/certs/httpd.crt
application_max_ram=3072
idp3_dist_jar=http\://ox.gluu.org/maven/org/xdi/oxShibbolethStatic/3.1.6.Final/oxShibbolethStatic-3.1.6.Final.jar
oxauth_static_conf_json=/install/community-edition-setup/output/oxauth-static-conf.json
jetty_user_home_lib=/home/jetty/lib
downloadWars=False
oxd_hostname=%(oxd_hostname)s
opendj_cert_fn=/etc/certs/opendj.crt
jreDestinationPath=/opt/jdk1.8.0_181
oxTrustCacheRefreshFolder=/var/ox/identity/cr-snapshots
apache_start_script=/etc/init.d/httpd
idp3_configuration_password_authn=authn/password-authn-config.xml
gluuOptSystemFolder=/opt/gluu/system
ldapCertFn=/etc/certs/opendj.crt
ldif_site=/install/community-edition-setup/static/cache-refresh/o_site.ldif
encoded_ldap_pw={SSHA}X+hNkVCwXQct14mtC/X3ZiiOcufmzyKf
node_home=/opt/node
ldapPass=WQYGRzb5Dn1f
state=Harju
passport_config=/etc/gluu/conf/passport-config.json
certFolder=/etc/certs
staticFolder=/install/community-edition-setup/static
defaultTrustStorePW=changeit
idp3_metadata=idp-metadata.xml
passport_rs_client_jks_pass_encoded=LaQtA8K2Lx/KO+xsJYQRSQ\=\=
oxtrust_cache_refresh_json=/install/community-edition-setup/output/oxtrust-cache-refresh.json
passportSpJksPass=iH4GWzPEmpBr
pairwiseCalculationSalt=gC5JyYNaEEbGUeN8E9zQ8RaVGlxC
scim_rp_client_jks_fn=/install/community-edition-setup/output/scim-rp.jks
passport_rp_client_jks_fn=/etc/certs/passport-rp.jks
jre_version=181
opendj_type=opendj
ldap_admin_port=4444
openldapSchemaFolder=/opt/gluu/schema/openldap
importLdifCommand=/opt/opendj/bin/import-ldif
openldapSiteUser=cn\=directory manager,o\=site
ldap_backend_type=je
installAsimba=False
ldif_asimba=/install/community-edition-setup/output/asimba.ldif
openldapSymasConf=/install/community-edition-setup/output/symas-openldap.conf
openldapConfFolder=/opt/symas/etc/openldap
ldif_base=/install/community-edition-setup/output/base.ldif
openldapLogrotate=/install/community-edition-setup/static/openldap/openldap_logrotate
idp3_configuration_saml_nameid=saml-nameid.properties
apache2_24_conf=/install/community-edition-setup/output/httpd_2.4.conf
ldif_passport=/install/community-edition-setup/output/passport.ldif
asimba_configuration=/install/community-edition-setup/output/asimba.xml
ldif_people=/install/community-edition-setup/output/people.ldif
installLdap=True
jetty_user_home=/home/jetty
oxauth_client_id=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0!0008!0610.B3F4
oxTrust_log_rotation_configuration=/etc/gluu/conf/oxTrustLogRotationConfiguration.xml
scim_rs_client_jks_pass_encoded=nhNcTy3XkTdHxXx/P72p/Q\=\=
httpdKeyFn=/etc/certs/httpd.key
oxauth_error_json=/install/community-edition-setup/static/oxauth/oxauth-errors.json
asimbaJksFn=/etc/certs/asimbaIDP.jks
gluuOptBinFolder=/opt/gluu/bin
openldapBaseFolder=/opt/symas
oxtrust_import_person_json=/install/community-edition-setup/output/oxtrust-import-person.json
allowPreReleasedApplications=False
jython_home=/opt/jython
loadLdifCommand=/opt/opendj/bin/ldapmodify
cmd_dpkg=/usr/bin/dpkg
openldapLogDir=/var/log/openldap/
system_profile_update_init=/install/community-edition-setup/output/system_profile_init
casa_config=/install/community-edition-setup/output/casa.json
gluu_python_base=/opt/gluu/python
cmd_mkdir=/bin/mkdir
idpClient_pw=PCeageKJmsBI
distFolder=/opt/dist
idp3ConfFolder=/opt/shibboleth-idp/conf
oxauth_rp_war=https\://ox.gluu.org/maven/org/xdi/oxauth-rp/3.1.6.Final/oxauth-rp-3.1.6.Final.war
encoded_openldapJksPass=hVgUiiGV2WJBUuNGUYtGsw\=\=
inumApplianceFN=DFD2B7E28A934D45000292D6D747
apache2_ssl_24_conf=/install/community-edition-setup/output/https_gluu.conf
inumAppliance=@!DFD2.B7E2.8A93.4D45!0002!92D6.D747
idp3_configuration_properties=idp.properties
network=/etc/sysconfig/network
node_user_home=/home/node
distGluuFolder=/opt/dist/gluu
idp3_configuration_services=services.properties
passport_inbound_idp_initiated_json=/etc/gluu/conf/passport-inbound-idp-initiated.json
oxauthClient_pw=pIU8eVVFAKMf
opendlapIndexDef=/install/community-edition-setup/static/openldap/index.json
idp3_configuration_ldap_properties=ldap.properties
ce_setup_zip=https\://github.com/GluuFederation/community-edition-setup/archive/version_3.1.6.zip
ldapBaseFolder=/opt/opendj
opendj_p12_pass=pWsHWCIw9G8G
idp3Folder=/opt/shibboleth-idp
node_base=/opt/gluu/node
passportSpTLSKey=/etc/certs/passport-sp.key
passportSpKeyPass=CTFR9T0hHULk
node_version=9.9.0
currentGluuVersion=3.1.6
ldif_passport_config=/install/community-edition-setup/output/oxpassport-config.ldif
scim_rs_client_jks_pass=DxGoV9Y5My3D
idp3ConfAuthnFolder=/opt/shibboleth-idp/conf/authn
oxauth_openid_jks_fn=/etc/certs/oxauth-keys.jks
outputFolder=/install/community-edition-setup/output
passport_initd_script=/install/community-edition-setup/static/system/initd/passport
os_type=ubuntu
gluuAccessLogConf=/install/community-edition-setup/static/openldap/o_gluu_accesslog.conf
log=/install/community-edition-setup/setup.log
jetty_home=/opt/jetty
ldapTrustStoreFn=/etc/certs/opendj.pkcs12
oxd_port=%(oxd_port)s
githubBranchName=version_3.1.6
openldapTLSCert=/etc/certs/openldap.crt
templateFolder=/install/community-edition-setup/templates
ldif_scim=/install/community-edition-setup/output/scim.ldif
idp3_war=http\://ox.gluu.org/maven/org/xdi/oxshibbolethIdp/3.1.6.Final/oxshibbolethIdp-3.1.6.Final.war
cmd_chgrp=/bin/chgrp
inumOrgFN=DFD2B7E28A934D450001B82AC4A0
oxauth_config_json=/install/community-edition-setup/output/oxauth-config.json
system_profile_update_systemd=/install/community-edition-setup/output/system_profile_systemd
scim_rs_client_id=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0!0008!85A2.DEA5
gluu_passport_base=/opt/gluu/node/passport
idp3CredentialsFolder=/opt/shibboleth-idp/credentials
passport_rs_client_jks_pass=clOqOejsS6Gr
default_key_algs=RS256 RS384 RS512 ES256 ES384 ES512
passport_rp_client_cert_alg=RS512
opensslCommand=/usr/bin/openssl
ldif_idp=/install/community-edition-setup/output/oxidp.ldif
installOxTrust=True
ldap_port=1389
encoded_shib_jks_pw=1VEq/xTODCTchdU90NzySw\=\=
orgName=Cyberland
idp3MetadataCredentialsFolder=/opt/shibboleth-idp/metadata/credentials
apache2_conf=/install/community-edition-setup/output/httpd.conf
oxidp_config_json=/install/community-edition-setup/output/oxidp-config.json
osDefault=/etc/default
shibboleth_version=v3
openldapKeyPass=DY4sESrAjHWD
openDjIndexJson=/install/community-edition-setup/static/opendj/index.json
node_initd_script=/install/community-edition-setup/static/system/initd/node
ldapDsconfigCommand=/opt/opendj/bin/dsconfig
openDjSchemaFolder=/opt/opendj/config/schema
oxBaseDataFolder=/var/ox
asimba_configuration_xml=/etc/gluu/conf/asimba/asimba.xml
city=Tallinn
oxVersion=3.1.6.Final
baseInum=@!DFD2.B7E2.8A93.4D45
idpClient_encoded_pw=QuWTi52osUxoPxAfK1H/iA\=\=
os_version=18
asimbaJksPass=AQbBvEDYoLrS
ox_ldap_properties=/etc/gluu/conf/ox-ldap.properties
openldapRootUser=cn\=directory manager,o\=gluu
ldaps_port=1636
jython_version=2.7.2a
logError=/install/community-edition-setup/setup_error.log
ldif_appliance=/install/community-edition-setup/output/appliance.ldif
asimba_selector_configuration_xml=/etc/gluu/conf/asimba/asimba-selector.xml
openldapTLSKey=/etc/certs/openldap.key
staticIDP3FolderMetadata=/install/community-edition-setup/static/idp3/metadata
ldif_metric=/install/community-edition-setup/static/metric/o_metric.ldif
opendj_p12_fn=/etc/certs/opendj.pkcs12
oxTrustConfigGeneration=false
oxPhotosFolder=/var/ox/photos
shibJksFn=/etc/certs/shibIDP.jks
os_initdaemon=systemd
passportSpTLSCACert=/etc/certs/passport-sp.pem
distAppFolder=/opt/dist/app
jetty_dist=/opt/jetty-9.4
passport_rp_client_id=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0!0008!37D1.5694
defaultTrustStoreFN=/opt/jre/jre/lib/security/cacerts
ldapModifyCommand=/opt/opendj/bin/ldapmodify
idp3MetadataFolder=/opt/shibboleth-idp/metadata
pairwiseCalculationKey=Fiht3DqQ3UrqaJYif1lBL8Xzcpm
ldif_groups=/install/community-edition-setup/output/groups.ldif
asimba_selector_configuration=/install/community-edition-setup/output/asimba-selector.xml
ldif_clients=/install/community-edition-setup/output/clients.ldif
oxauthClient_encoded_pw=n3K3lv7VfjkpzJgusmv2yg\=\=
scim_rp_client_jks_pass=secret
openldapP12Fn=/etc/certs/openldap.pkcs12
encoded_opendj_p12_pass=qP034XoEY4WxcAqx5IFIsQ\=\=
opendj_version=3.0
openldapSyslogConf=/install/community-edition-setup/static/openldap/openldap-syslog.conf
cmd_ln=/bin/ln
passport_rp_client_cert_fn=/etc/certs/passport-rp.pem
httpdKeyPass=stUwVySYSQHv
oxtrust_war=https\://ox.gluu.org/maven/org/xdi/oxtrust-server/3.1.6.Final/oxtrust-server-3.1.6.Final.war
opendj_version_number=3.0.1.gluu
ldap_site_binddn=cn\=directory manager
installOxAuth=True
cmd_java=/opt/jre/bin/java
ldif_scopes=/install/community-edition-setup/output/scopes.ldif
savedProperties=/install/community-edition-setup/setup.properties.last
passport_saml_config=/etc/gluu/conf/passport-saml-config.json
staticIDP3FolderConf=/install/community-edition-setup/static/idp3/conf
ldif_scripts=/install/community-edition-setup/output/scripts.ldif
admin_email=info@cyberland.io
distTmpFolder=/opt/dist/tmp
idp3LogsFolder=/opt/shibboleth-idp/logs
cmd_jar=/opt/jre/bin/jar
oxauth_openid_jks_pass=KA8qZDq5OSIw
idp3WebappFolder=/opt/shibboleth-idp/webapp
countryCode=EE
ip=10.101.144.227
opendj_ldap_binddn=cn\=directory manager
installSaml=False
fido2ConfigFolder=/etc/gluu/conf/fido2
sysemProfile=/etc/profile
ldap_setup_properties=/install/community-edition-setup/templates/opendj-setup.properties
default_openid_jks_dn_name=CN\=oxAuth CA Certificates
oxtrust_config_json=/install/community-edition-setup/output/oxtrust-config.json
openldapTLSCACert=/etc/certs/openldap.pem
listenAllInterfaces=False
ldapDsCreateRcCommand=/opt/opendj/bin/create-rc-script
ldapPassFn=/home/ldap/.pw
oxTrustRemovedFolder=/var/ox/identity/removed
passport_rs_client_jks_fn=/etc/certs/passport-rs.jks
openldapSlapdConf=/install/community-edition-setup/output/slapd.conf
encoded_ldapTrustStorePass=qP034XoEY4WxcAqx5IFIsQ\=\=
encode_salt=RRU5AnC8UQkPu333GeqvkXL7
gluu_python_readme=/opt/gluu/python/libs/python.txt
extensionFolder=/install/community-edition-setup/static/extension
passportSpTLSCert=/etc/certs/passport-sp.crt
hostname=cl-infr-test-gluu-01
jetty_base=/opt/gluu/jetty
ldif_scripts_casa=/install/community-edition-setup/output/scripts_casa.ldif
cmd_chmod=/bin/chmod
inumOrg=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0
openldapJksPass=4DNySd3wtbwA
asimba_conf_folder=/etc/gluu/conf/asimba
allowDeprecatedApplications=False
ldapSetupCommand=/opt/opendj/setup
opendj_service_centos7=/install/community-edition-setup/static/opendj/systemd/opendj.service
encoded_ox_ldap_pw=GY3eC2p95Kd/XkE8CTBDzw\=\=
passportSpJksFn=/etc/certs/passport-sp.jks
openldapSetupAccessLog=False
cmd_rpm=/bin/rpm
idp3LibFolder=/opt/shibboleth-idp/lib
cmd_keytool=/opt/jre/bin/keytool
ldap_binddn=cn\=directory manager
installHttpd=True
passport_rs_client_id=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0!0008!2098.B9D9
scim_rp_client_id=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0!0008!3774.91F9
asimba_war=http\://ox.gluu.org/maven/org/asimba/asimba-wa/3.1.6.Final/asimba-wa-3.1.6.Final.war
gluuBaseFolder=/etc/gluu
install_time_ldap=20190424140049Z
apache_version=2.4
configFolder=/etc/gluu/conf
openldapBinFolder=/opt/symas/bin
oxauth_war=https\://ox.gluu.org/maven/org/xdi/oxauth-server/3.1.6.Final/oxauth-server-3.1.6.Final.war
jre_home=/opt/jre
scim_resource_oxid=35110e35-4189-4b03-8d89-0e623e3364d3
ldap_type=opendj
ldap_hostname=localhost
openldapJksFn=/etc/certs/openldap.jks
gluuOptPythonFolder=/opt/gluu/python
openldapMetricUser=cn\=directory manager,o\=metric
encode_script=/opt/gluu/bin/encode.py
shibJksPass=7dic26OUBT9k
oxasimba_config_json=/install/community-edition-setup/output/oxasimba-config.json
cmd_chown=/bin/chown
opendj_init_file=/install/community-edition-setup/static/opendj/opendj
scim_rs_client_jks_fn=/etc/certs/scim-rs.jks
etc_hosts=/etc/hosts
idp3_cml_keygenerator=http\://ox.gluu.org/maven/org/xdi/oxShibbolethKeyGenerator/3.1.6.Final/oxShibbolethKeyGenerator-3.1.6.Final.jar
asimba_properties=/install/community-edition-setup/output/asimba.properties
gluuOptFolder=/opt/gluu
installPassport=False
openldapRootSchemaFolder=/opt/gluu/schema
rsyslogUbuntuInitFile=/install/community-edition-setup/static/system/ubuntu/rsyslog
idp_client_id=@!DFD2.B7E2.8A93.4D45!0001!B82A.C4A0!0008!D873.1704
oxauth_openid_jwks_fn=/etc/certs/oxauth-keys.json
ldif_configuration=/install/community-edition-setup/output/configuration.ldif
etc_hostname=/etc/hostname
installOxAuthRP=False
